h1{
    color: blue;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}